body {
    background-color: grey;
}

h1 {
    text-align: center;
}

h2 {
    color: #efefef;
}

#container {
    background-color: bisque;
    max-width: 960px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 10px;
}

#canvas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
}

#inner-canvas {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(21, 25px) 1fr 1fr 1fr;
    grid-template-rows: repeat(21, 25px) 1fr 1fr 1fr;
}

.options {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
    text-align: center;
}

.options button {
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
}