body {
    background-color: grey;
}

h1 {
    text-align: center;
}

#container {
    background-color: bisque;
    max-width: 1024px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 10px;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 80vh;
    background-color: #202020;
}

#canvas-inner {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(21, 25px) 1fr 1fr 1fr;
    grid-template-rows: repeat(21, 25px) 1fr 1fr 1fr;
}

#options {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}