body {
    background-color: #F6F1F1;
    padding: 0;
    margin: 0;
}

h2 {
    color: #efefef;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#canvas-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202020;
    padding: 40px 0;
    max-width: 1440px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 10px;
}

#grid {
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 768px;
    width: 768px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /* grid-template-columns: repeat(64, 12px) 1fr 1fr 1fr;
    grid-template-rows: repeat(64, 12px) 1fr 1fr 1fr; */
}

.options {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
}

.options button {
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    background-color: #19A7CE;
}

.options button:hover {
    background-color: #AFD3E2;
}

#clear-canvas {
    background-color: #fff;
}

#clear-canvas:hover {
    background-color: #AFD3E2;
}